In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv("dataset.csv")

# Seeing about the dataset

In [2]:
df

,PassengerID,Name,FamilyName,Age,Gender,City,Salary,Married,Children,Education,Purchased
0,1,Amit,Khan,74.0,M,Delhi,105000.0,Yes,-2.0,Post-Graduate,1
1,2,Emma,Khan,17.0,F,Delhi,85000.0,Y,1.0,High School,0
2,3,Rahul,Smith,69.0,Male,New York,115000.0,NaN,4.0,NaN,1
3,4,Amit,Sharma,34.0,M,???,105000.0,Y,4.0,Graduate,1
4,5,Bob,Patel,6.0,M,Delhi,65000.0,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...
495,496,Amit,Khan,26.0,F,London,80000.0,N,NaN,Post-Graduate,1
496,497,Bob,Khan,29.0,Female,Delhi,70000.0,Y,-2.0,Graduate,1
497,498,Emma,Johnson,21.0,NaN,London,100000.0,Y,3.0,Graduate,0
498,499,John,Patel,11.0,Female,Delhi,125000.0,Yes,0.0,Post-Graduate,1
499,500,Emma,Smith,40.0,F,London,80000.0,NaN,2.0,Unknown,1

In [3]:
df.shape

(500, 11)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerID  500 non-null    int64
 1   Name         500 non-null    object
 2   FamilyName   500 non-null    object
 3   Age          499 non-null    float64
 4   Gender       401 non-null    object
 5   City         415 non-null    object
 6   Salary       489 non-null    float64
 7   Married      405 non-null    object
 8   Children     436 non-null    float64
 9   Education    396 non-null    object
 10  Purchased    500 non-null    int64
dtypes: float64(3), int64(2), object(6)
memory usage: 43.1+ KB

In [5]:
df.describe()

       PassengerID         Age         Salary    Children   Purchased
count   500.000000  499.000000     489.000000  436.000000  500.000000
mean    250.500000   39.843687   80020.449898    1.371560    0.466000
std     144.481833   28.019350   41455.333347    1.998739    0.499342
min       1.000000   -1.000000   -5000.000000   -2.000000    0.000000
25%     125.750000   19.000000   45000.000000    0.000000    0.000000
50%     250.500000   38.000000   85000.000000    2.000000    0.000000
75%     375.250000   59.000000  115000.000000    3.000000    1.000000
max     500.000000  200.000000  145000.000000    4.000000    1.000000

In [6]:
df.duplicated().sum()

np.int64(0)

In [7]:
df.isnull().sum()

PassengerID      0
Name             0
FamilyName       0
Age              1
Gender          99
City            85
Salary          11
Married         95
Children        64
Education      104
Purchased        0
dtype: int64

# Handling Missing Values

## Handling Age Column

In [8]:
df['Age']

0      74.0
1      17.0
2      69.0
3      34.0
4       6.0
       ...
495    26.0
496    29.0
497    21.0
498    11.0
499    40.0
Name: Age, Length: 500, dtype: float64

In [9]:
df['Age'] = np.where((df['Age'] < 0) | (df['Age'] > 100),np.nan,df['Age'])

In [10]:
df['Age'].fillna((df['Age'].median()), inplace=True)

In [11]:
df['Age'].value_counts()

Age
38.0    22
26.0    13
51.0    13
40.0    11
29.0    11
        ..
28.0     3
39.0     3
77.0     2
48.0     2
58.0     1
Name: count, Length: 79, dtype: int64

In [12]:
df[df['Age'] >  100]

Empty DataFrame
Columns: [PassengerID, Name, FamilyName, Age, Gender, City, Salary, Married, Children, Education, Purchased]
Index: []

## Handling Gender Column

In [13]:
df["Gender"] = df["Gender"].replace({
    "M": "Male",
    "F": "Female"
})

In [14]:
df['Gender'].fillna("unknown", inplace=True)

In [15]:
df['Gender'].value_counts()

Gender
Male       204
Female     197
unknown     99
Name: count, dtype: int64

## Handling City Column

In [16]:
df['City']

0         Delhi
1         Delhi
2      New York
3           ???
4         Delhi
         ...
495      London
496       Delhi
497      London
498       Delhi
499      London
Name: City, Length: 500, dtype: object

In [17]:
df['City'].fillna("unknown", inplace=True)
df['City'].replace({"???" : "unknown"},inplace=True)
df['City'].value_counts()

City
unknown     170
Delhi        92
New York     88
Mumbai       82
London       68
Name: count, dtype: int64

In [18]:
df['City'].value_counts()

City
unknown     170
Delhi        92
New York     88
Mumbai       82
London       68
Name: count, dtype: int64

In [19]:
df['City'].isnull().sum()

np.int64(0)

In [20]:
df['City'].fillna("unknown", inplace=True)
df['City'].replace({"???" : "unknown"},inplace=True)

In [21]:
df['City'].isnull().sum()

np.int64(0)

In [22]:
df['City']

0         Delhi
1         Delhi
2      New York
3       unknown
4         Delhi
         ...
495      London
496       Delhi
497      London
498       Delhi
499      London
Name: City, Length: 500, dtype: object

In [23]:
df['City'].value_counts()

City
unknown     170
Delhi        92
New York     88
Mumbai       82
London       68
Name: count, dtype: int64

## Handling Salary Column

In [24]:
df['Salary']

0      105000.0
1       85000.0
2      115000.0
3      105000.0
4       65000.0
         ...
495     80000.0
496     70000.0
497    100000.0
498    125000.0
499     80000.0
Name: Salary, Length: 500, dtype: float64

In [25]:
df['Salary'].value_counts()

Salary
-5000.0      26
 120000.0    25
 115000.0    22
 35000.0     22
 55000.0     21
 80000.0     21
 125000.0    21
 85000.0     20
 100000.0    20
 130000.0    20
 105000.0    19
 110000.0    19
 40000.0     19
 90000.0     18
 25000.0     18
 140000.0    18
 145000.0    17
 60000.0     16
 65000.0     16
 70000.0     16
 50000.0     15
 30000.0     15
 135000.0    15
 95000.0     14
 20000.0     13
 45000.0     12
 75000.0     11
Name: count, dtype: int64

In [26]:
df['Salary'].isnull().sum()

np.int64(11)

In [27]:
df['Salary'] = np.where((df['Salary'] < 0),np.nan,df['Salary'])

In [28]:
df['Salary'].isnull().sum()

np.int64(37)

In [29]:
df['Salary'].value_counts()

Salary
120000.0    25
35000.0     22
115000.0    22
125000.0    21
80000.0     21
55000.0     21
130000.0    20
85000.0     20
100000.0    20
105000.0    19
110000.0    19
40000.0     19
140000.0    18
25000.0     18
90000.0     18
145000.0    17
65000.0     16
70000.0     16
60000.0     16
135000.0    15
50000.0     15
30000.0     15
95000.0     14
20000.0     13
45000.0     12
75000.0     11
Name: count, dtype: int64

In [30]:
df['Salary'].fillna(df['Salary'].median(), inplace=True)

In [31]:
df['Salary'].isnull().sum()

np.int64(0)

In [32]:
df['Salary']

0      105000.0
1       85000.0
2      115000.0
3      105000.0
4       65000.0
         ...
495     80000.0
496     70000.0
497    100000.0
498    125000.0
499     80000.0
Name: Salary, Length: 500, dtype: float64

## Handling Married Column

In [33]:
df['Married']

0      Yes
1        Y
2      NaN
3        Y
4      NaN
      ...
495      N
496      Y
497      Y
498    Yes
499    NaN
Name: Married, Length: 500, dtype: object

In [34]:
df['Married'].replace({
    "Y": "Yes",
    "N": "No",
    np.nan : "Unknown"
}, inplace=True)

In [35]:
df['Married'].isnull().sum()

np.int64(0)

In [36]:
df['Married']

0          Yes
1          Yes
2      Unknown
3          Yes
4      Unknown
        ...
495         No
496        Yes
497        Yes
498        Yes
499    Unknown
Name: Married, Length: 500, dtype: object

## Handling Children Column

In [37]:
df['Children']

0     -2.0
1      1.0
2      4.0
3      4.0
4      NaN
      ...
495    NaN
496   -2.0
497    3.0
498    0.0
499    2.0
Name: Children, Length: 500, dtype: float64

In [38]:
df.loc[df['Children'] < 0, 'Children'] = np.nan

In [39]:
df['Children'].fillna(df['Children'].median(), inplace=True)

In [40]:
df['Children'].isnull().sum()

np.int64(0)

In [41]:
df['Children']

0      2.0
1      1.0
2      4.0
3      4.0
4      2.0
      ...
495    2.0
496    2.0
497    3.0
498    0.0
499    2.0
Name: Children, Length: 500, dtype: float64

## Handling the Education Column

In [42]:
df['Education']

0      Post-Graduate
1        High School
2                NaN
3           Graduate
4                NaN
           ...
495    Post-Graduate
496         Graduate
497         Graduate
498    Post-Graduate
499          Unknown
Name: Education, Length: 500, dtype: object

In [43]:
df['Education'].isnull().sum()

np.int64(104)

In [44]:
df['Education'].value_counts()

Education
Graduate         108
Unknown          102
High School       98
Post-Graduate     88
Name: count, dtype: int64

In [45]:
df['Education'] = df['Education'].mask(df['Education'].isnull() | (df['Education'] == 'Unknown'), 'unknown')

In [46]:
df['Education'].isnull().sum()

np.int64(0)

In [47]:
df['Education'].value_counts()

Education
unknown          206
Graduate         108
High School       98
Post-Graduate     88
Name: count, dtype: int64

In [48]:
df['Education']

0      Post-Graduate
1        High School
2            unknown
3           Graduate
4            unknown
           ...
495    Post-Graduate
496         Graduate
497         Graduate
498    Post-Graduate
499          unknown
Name: Education, Length: 500, dtype: object

In [49]:
df.to_csv("cleaned_dataset.csv",index=False)

In [50]:
df

,PassengerID,Name,FamilyName,Age,Gender,City,Salary,Married,Children,Education,Purchased
0,1,Amit,Khan,74.0,Male,Delhi,105000.0,Yes,2.0,Post-Graduate,1
1,2,Emma,Khan,17.0,Female,Delhi,85000.0,Yes,1.0,High School,0
2,3,Rahul,Smith,69.0,Male,New York,115000.0,Unknown,4.0,unknown,1
3,4,Amit,Sharma,34.0,Male,unknown,105000.0,Yes,4.0,Graduate,1
4,5,Bob,Patel,6.0,Male,Delhi,65000.0,Unknown,2.0,unknown,1
...,...,...,...,...,...,...,...,...,...,...,...
495,496,Amit,Khan,26.0,Female,London,80000.0,No,2.0,Post-Graduate,1
496,497,Bob,Khan,29.0,Female,Delhi,70000.0,Yes,2.0,Graduate,1
497,498,Emma,Johnson,21.0,unknown,London,100000.0,Yes,3.0,Graduate,0
498,499,John,Patel,11.0,Female,Delhi,125000.0,Yes,0.0,Post-Graduate,1
499,500,Emma,Smith,40.0,Female,London,80000.0,Unknown,2.0,unknown,1

In [78]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
PassengerID,500.0,250.500,144.481833,1.0,125.75,250.5,375.25,500.0
Age,500.0,38.610,22.546187,1.0,20.00,38.0,57.00,79.0
Salary,500.0,84810.000,35817.309493,20000.0,55000.00,85000.0,115000.00,145000.0
Married,500.0,0.420,0.494053,0.0,0.00,0.0,1.00,1.0
Children,500.0,2.044,1.205392,0.0,1.00,2.0,3.00,4.0
Purchased,500.0,0.466,0.499342,0.0,0.00,0.0,1.00,1.0

# Feature Engineering

## Seeing the dataset

In [52]:
df = pd.read_csv("cleaned_dataset.csv")

In [53]:
df

,PassengerID,Name,FamilyName,Age,Gender,City,Salary,Married,Children,Education,Purchased
0,1,Amit,Khan,74.0,Male,Delhi,105000.0,Yes,2.0,Post-Graduate,1
1,2,Emma,Khan,17.0,Female,Delhi,85000.0,Yes,1.0,High School,0
2,3,Rahul,Smith,69.0,Male,New York,115000.0,Unknown,4.0,unknown,1
3,4,Amit,Sharma,34.0,Male,unknown,105000.0,Yes,4.0,Graduate,1
4,5,Bob,Patel,6.0,Male,Delhi,65000.0,Unknown,2.0,unknown,1
...,...,...,...,...,...,...,...,...,...,...,...
495,496,Amit,Khan,26.0,Female,London,80000.0,No,2.0,Post-Graduate,1
496,497,Bob,Khan,29.0,Female,Delhi,70000.0,Yes,2.0,Graduate,1
497,498,Emma,Johnson,21.0,unknown,London,100000.0,Yes,3.0,Graduate,0
498,499,John,Patel,11.0,Female,Delhi,125000.0,Yes,0.0,Post-Graduate,1
499,500,Emma,Smith,40.0,Female,London,80000.0,Unknown,2.0,unknown,1

In [54]:
df.describe()

       PassengerID         Age         Salary    Children   Purchased
count   500.000000  500.000000     500.000000  500.000000  500.000000
mean    250.500000   38.610000   84810.000000    2.044000    0.466000
std     144.481833   22.546187   35817.309493    1.205392    0.499342
min       1.000000    1.000000   20000.000000    0.000000    0.000000
25%     125.750000   20.000000   55000.000000    1.000000    0.000000
50%     250.500000   38.000000   85000.000000    2.000000    0.000000
75%     375.250000   57.000000  115000.000000    3.000000    1.000000
max     500.000000   79.000000  145000.000000    4.000000    1.000000

In [55]:
df.duplicated().sum()

np.int64(0)

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerID  500 non-null    int64
 1   Name         500 non-null    object
 2   FamilyName   500 non-null    object
 3   Age          500 non-null    float64
 4   Gender       500 non-null    object
 5   City         500 non-null    object
 6   Salary       500 non-null    float64
 7   Married      500 non-null    object
 8   Children     500 non-null    float64
 9   Education    500 non-null    object
 10  Purchased    500 non-null    int64
dtypes: float64(3), int64(2), object(6)
memory usage: 43.1+ KB

## Creating AgeGroup Table

 - This is created for to understand the which person is from which age standard
  - less than 12 = kid
  - 12 - 17 = young
  - 18 - 70 = adult
  - more than 70 = old

In [57]:
df.loc[df["Age"] < 12, "AgeGroup"] = "Kid"
df.loc[(df["Age"] >= 12) & (df["Age"] < 18), "AgeGroup"] = "Young"
df.loc[(df["Age"] >= 18) & (df["Age"] < 70), "AgeGroup"] = "Adult"
df.loc[df["Age"] >= 70, "AgeGroup"] = "Old"

In [58]:
df['AgeGroup'].value_counts()

AgeGroup
Adult    331
Kid       79
Old       56
Young     34
Name: count, dtype: int64

In [59]:
df['AgeGroup']

0        Old
1      Young
2      Adult
3      Adult
4        Kid
       ...
495    Adult
496    Adult
497    Adult
498      Kid
499    Adult
Name: AgeGroup, Length: 500, dtype: object

## Creating FullName Table

In [60]:
df['Name']

0       Amit
1       Emma
2      Rahul
3       Amit
4        Bob
       ...
495     Amit
496      Bob
497     Emma
498     John
499     Emma
Name: Name, Length: 500, dtype: object

In [61]:
df['FamilyName']

0         Khan
1         Khan
2        Smith
3       Sharma
4        Patel
        ...
495       Khan
496       Khan
497    Johnson
498      Patel
499      Smith
Name: FamilyName, Length: 500, dtype: object

In [62]:
df['FullName'] = df['Name'] + " " + df['FamilyName']

In [63]:
df['FullName']

0         Amit Khan
1         Emma Khan
2       Rahul Smith
3       Amit Sharma
4         Bob Patel
           ...
495       Amit Khan
496        Bob Khan
497    Emma Johnson
498      John Patel
499      Emma Smith
Name: FullName, Length: 500, dtype: object

## Married Column Convert into Binary

In [64]:
df['Married'].replace({
    "Yes": 1,
    "No": 0,
    "Unknown": 0,
}, inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_15420\4087859824.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['Married'].replace({

In [65]:
df['Married'].value_counts()

Married
0    290
1    210
Name: count, dtype: int64

In [66]:
df['Married']

0      1
1      1
2      0
3      1
4      0
      ..
495    0
496    1
497    1
498    1
499    0
Name: Married, Length: 500, dtype: int64

In [67]:
df.to_csv("cleaned_dataset_for_pipeline.csv",index=False)

# Data Pipeline

In [68]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression

In [69]:
df = pd.read_csv("cleaned_dataset_for_pipeline.csv")

In [70]:
X = df.drop(columns=["PassengerID", "Name", "FamilyName", "FullName", "Purchased"])
y = df["Purchased"]

In [71]:
num_cols = ['Age','Salary','Children']
cat_cols = ['Gender','City','Education','AgeGroup']

In [72]:
num_pipeline = Pipeline(steps=[
    ("imputer", SimpleImputer(strategy="median")),
    ("scaler", StandardScaler())
])

In [73]:
cat_pipeline = Pipeline(steps=[
    ("imputer", SimpleImputer(strategy="most_frequent")),
    ("encoder", OneHotEncoder(handle_unknown="ignore"))
])

In [74]:
preprocessor = ColumnTransformer(transformers=[
    ("num", num_pipeline, num_cols),
    ("cat", cat_pipeline, cat_cols)
])

In [75]:
model = Pipeline(steps=[
    ("preprocessing", preprocessor),
    ("classifier", LogisticRegression())
])

In [76]:
model.fit(X, y)

Pipeline(steps=[('preprocessing',
                 ColumnTransformer(transformers=[('num',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer(strategy='median')),
                                                                  ('scaler',
                                                                   StandardScaler())]),
                                                  ['Age', 'Salary',
                                                   'Children']),
                                                 ('cat',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer(strategy='most_frequent')),
                                                                  ('encoder',
                                                                   OneHotEncoder(handle_unknown='ignore'))]),
                                                  ['Gender', 'City',
                                                   'Education',
                                                   'AgeGroup'])])),
                ('classifier', LogisticRegression())])

In [77]:
model.predict(X.head())

array([0, 0, 1, 0, 0])