In [7]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans, AgglomerativeClustering, DBSCAN, MeanShift
from sklearn.metrics import (silhouette_score,
                             accuracy_score,
                             classification_report,
                             confusion_matrix,
                             ConfusionMatrixDisplay
                             )

import scipy.cluster.hierarchy as shc

In [8]:
data = pd.read_csv("customer_segmentation_data.csv", encoding='cp1252')
data

,id,age,gender,income,spending_score,membership_years,purchase_frequency,preferred_category,last_purchase_amount
0,1,38,Female,99342,90,3,24,Groceries,113.53
1,2,21,Female,78852,60,2,42,Sports,41.93
2,3,60,Female,126573,30,2,28,Clothing,424.36
3,4,40,Other,47099,74,9,5,Home & Garden,991.93
4,5,65,Female,140621,21,3,25,Electronics,347.08
...,...,...,...,...,...,...,...,...,...
995,996,57,Male,112170,57,6,1,Clothing,313.64
996,997,23,Other,65337,76,10,23,Groceries,632.83
997,998,23,Male,113097,40,5,42,Sports,75.09
998,999,22,Female,113695,63,7,44,Electronics,505.16
999,1000,36,Female,90420,7,2,31,Groceries,669.26

In [9]:
data.shape

(1000, 9)

In [10]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
id,1000.0,500.50000,288.819436,1.0,250.7500,500.500,750.25,1000.00
age,1000.0,43.78300,15.042213,18.0,30.0000,45.000,57.00,69.00
income,1000.0,88500.80000,34230.771122,30004.0,57911.7500,87845.500,116110.25,149973.00
spending_score,1000.0,50.68500,28.955175,1.0,26.0000,50.000,76.00,100.00
membership_years,1000.0,5.46900,2.855730,1.0,3.0000,5.000,8.00,10.00
purchase_frequency,1000.0,26.59600,14.243654,1.0,15.0000,27.000,39.00,50.00
last_purchase_amount,1000.0,492.34867,295.744253,10.4,218.7625,491.595,747.17,999.74

In [11]:
data.isnull().sum()

id                      0
age                     0
gender                  0
income                  0
spending_score          0
membership_years        0
purchase_frequency      0
preferred_category      0
last_purchase_amount    0
dtype: int64

In [12]:
data.columns.to_list()

['id',
 'age',
 'gender',
 'income',
 'spending_score',
 'membership_years',
 'purchase_frequency',
 'preferred_category',
 'last_purchase_amount']

In [17]:
data.dropna(subset=['id'], inplace=True)
rfm = data.groupby('id').agg({
    'spending_score',
    'purchase_frequency',
    'last_purchase_amount'
}).reset_index()

AttributeError: 'SeriesGroupBy' object has no attribute 'spending_score'