In [6]:
import pandas as pd

In [8]:
data = pd.read_csv("Diabetes Missing Data.csv")

In [9]:
print(data.head())

   Pregnant  Glucose  Diastolic_BP  Skin_Fold  Serum_Insulin   BMI  \
0         6    148.0          72.0       35.0            NaN  33.6
1         1     85.0          66.0       29.0            NaN  26.6
2         8    183.0          64.0        NaN            NaN  23.3
3         1     89.0          66.0       23.0           94.0  28.1
4         0    137.0          40.0       35.0          168.0  43.1

   Diabetes_Pedigree  Age  Class
0              0.627   50      1
1              0.351   31      0
2              0.672   32      1
3              0.167   21      0
4              2.288   33      1

In [11]:
print(data.isnull().sum())

Pregnant               0
Glucose                5
Diastolic_BP          35
Skin_Fold            227
Serum_Insulin        374
BMI                   11
Diabetes_Pedigree      0
Age                    0
Class                  0
dtype: int64

In [14]:
print(data.fillna("NS"))

     Pregnant Glucose Diastolic_BP Skin_Fold Serum_Insulin   BMI  \
0           6   148.0         72.0      35.0            NS  33.6
1           1    85.0         66.0      29.0            NS  26.6
2           8   183.0         64.0        NS            NS  23.3
3           1    89.0         66.0      23.0          94.0  28.1
4           0   137.0         40.0      35.0         168.0  43.1
..        ...     ...          ...       ...           ...   ...
763        10   101.0         76.0      48.0         180.0  32.9
764         2   122.0         70.0      27.0            NS  36.8
765         5   121.0         72.0      23.0         112.0  26.2
766         1   126.0         60.0        NS            NS  30.1
767         1    93.0         70.0      31.0            NS  30.4

     Diabetes_Pedigree  Age  Class
0                0.627   50      1
1                0.351   31      0
2                0.672   32      1
3                0.167   21      0
4                2.288   33      1
..                 ...  ...    ...
763              0.171   63      0
764              0.340   27      0
765              0.245   30      0
766              0.349   47      1
767              0.315   23      0

[768 rows x 9 columns]

In [15]:
print(data.isna().sum())

Pregnant               0
Glucose                5
Diastolic_BP          35
Skin_Fold            227
Serum_Insulin        374
BMI                   11
Diabetes_Pedigree      0
Age                    0
Class                  0
dtype: int64

In [17]:
data.sort_values(by=['Age'],ascending=True).head(20)

,Pregnant,Glucose,Diastolic_BP,Skin_Fold,Serum_Insulin,BMI,Diabetes_Pedigree,Age,Class
736,0,126.0,86.0,27.0,120.0,27.4,0.515,21,0
738,2,99.0,60.0,17.0,160.0,36.6,0.453,21,0
721,1,114.0,66.0,36.0,200.0,38.1,0.289,21,0
60,2,84.0,NaN,NaN,NaN,NaN,0.304,21,0
290,0,78.0,88.0,29.0,40.0,36.9,0.434,21,0
367,0,101.0,64.0,17.0,NaN,21.0,0.252,21,0
354,3,90.0,78.0,NaN,NaN,42.7,0.559,21,0
55,1,73.0,50.0,10.0,NaN,23.0,0.248,21,0
671,1,99.0,58.0,10.0,NaN,25.4,0.551,21,0
626,0,125.0,68.0,NaN,NaN,24.7,0.206,21,0
382,1,109.0,60.0,8.0,182.0,25.4,0.947,21,0
273,1,71.0,78.0,50.0,45.0,33.2,0.422,21,0
271,2,108.0,62.0,32.0,56.0,25.2,0.128,21,0
371,0,118.0,64.0,23.0,89.0,NaN,1.731,21,0
372,0,84.0,64.0,22.0,66.0,35.8,0.545,21,0
268,0,102.0,52.0,NaN,NaN,25.1,0.078,21,0
624,2,108.0,64.0,NaN,NaN,30.8,0.158,21,0
623,0,94.0,70.0,27.0,115.0,43.5,0.347,21,0
90,1,80.0,55.0,NaN,NaN,19.1,0.258,21,0
627,0,132.0,78.0,NaN,NaN,32.4,0.393,21,0