In [18]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

Handling Numeric missing value via imputer

In [2]:
data = {
    "Age": [20,21,25,23,np.nan,20],
    "Salary": [2000,3000,4000,5000,np.nan,np.nan]
}
df = pd.DataFrame(data)
df

    Age  Salary
0  20.0  2000.0
1  21.0  3000.0
2  25.0  4000.0
3  23.0  5000.0
4   NaN     NaN
5  20.0     NaN

In [ ]:
imputer = SimpleImputer(strategy='median') # strategy = most_recent , most_used, mean, median
df[['Age',"Salary"]] = imputer.fit_transform(df[['Age','Salary']])
print(df)

    Age  Salary
0  20.0  2000.0
1  21.0  3000.0
2  25.0  4000.0
3  23.0  5000.0
4  21.0  3500.0
5  20.0  3500.0

Handlind Encoding

In [13]:
fruit = {
   "Name": ['Apple','Mango', 'Apple', 'Mango', 'Graped']
}

df = pd.DataFrame(fruit)
df

     Name
0   Apple
1   Mango
2   Apple
3   Mango
4  Graped

In [19]:
le = LabelEncoder()
one_hot = le.fit_transform(df['Name'])
print(one_hot)

[0 2 0 2 1]