In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from statsmodels.graphics.tsaplots import plot_acf
from statsmodels.tsa.stattools import adfuller

In [2]:
data = pd.read_csv("NIFTY 50.csv")
print(data.head())

         Date     Open     High      Low   Close      Volume      Turnover  \
0  2000-01-03  1482.15  1592.90  1482.15  1592.2  25358322.0  8.841500e+09
1  2000-01-04  1594.40  1641.95  1594.40  1638.7  38787872.0  1.973690e+10
2  2000-01-05  1634.55  1635.50  1555.05  1595.8  62153431.0  3.084790e+10
3  2000-01-06  1595.80  1639.00  1595.80  1617.6  51272875.0  2.531180e+10
4  2000-01-07  1616.60  1628.25  1597.20  1613.3  54315945.0  1.914630e+10

     P/E   P/B  Div Yield
0  25.91  4.63       0.95
1  26.67  4.76       0.92
2  25.97  4.64       0.95
3  26.32  4.70       0.94
4  26.25  4.69       0.94

In [3]:
data.head()

,Date,Open,High,Low,Close,Volume,Turnover,P/E,P/B,Div Yield
0,2000-01-03,1482.15,1592.90,1482.15,1592.2,25358322.0,8.841500e+09,25.91,4.63,0.95
1,2000-01-04,1594.40,1641.95,1594.40,1638.7,38787872.0,1.973690e+10,26.67,4.76,0.92
2,2000-01-05,1634.55,1635.50,1555.05,1595.8,62153431.0,3.084790e+10,25.97,4.64,0.95
3,2000-01-06,1595.80,1639.00,1595.80,1617.6,51272875.0,2.531180e+10,26.32,4.70,0.94
4,2000-01-07,1616.60,1628.25,1597.20,1613.3,54315945.0,1.914630e+10,26.25,4.69,0.94

RESAMPLING THE DATA

In [12]:
High = pd.to_datetime(data['High'])
data = data.set_index('High')
data_resampled = data.resample("ME",on="High").mean(numeric_only=True)

sns.set_style='White'
plt.figure(figsize=(12,6))
sns.lineplot(
    data = data_resampled,
    x = data_resampled.index,
    y = 'High',
)
plt.show()

KeyError: 'High'